* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}

label:hover,
span:hover,
button:hover {
	background: #F5F5F5;
}

label:focus,
span:focus,
button:focus {
	outline:none;
}

a {
	text-decoration: none;
}

*:focus {
	outline:none;
}

span {
	cursor: pointer
}

/***********************
			Nav Bar
***********************/

button {
	padding: 5px;
	margin: 10px;
}

#logo {
	margin-left: -10em;
	width: 200em;
	height: 10em;
}

#title {
	background: lightblue;
  background: -webkit-linear-gradient(to right, #d8ecf3, lightblue);
  background: linear-gradient(to right, #d8ecf3, lightblue);
	padding: 20px;
}

#title h1 {
	font-size: 3em;
	font-family: sans-serif;
	text-align: center;
	color: white;
	font-family: 'Fredoka One', cursive;
}

.signin,
#search-stock-div {
	width: 80%;
	margin: 30px auto;
	text-align: center;
}

/***********************
			Main Body
***********************/

.form-control {
	height: 30px;
	width: 150px;
}


#watchlists {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background: WhiteSmoke;
	border-radius:10px;
	padding:10px;
}

#watchlists h3 {
	font-size: 1.5em;
}

#pop-up-stock-search {
	/*margin-left: 20px;*/
	border: 1px solid white;
	border-radius: 20px;
	padding: 20px;
	background: lightblue;
	color: white;
	display: inline-block;
	flex-direction: row;
}

#watchListForm {
	padding-bottom: 10px;
}

ul {
	
	list-style-type: none;
}

#watchlist-list li .delete-list{
	position: absolute;
	right: 0;
	margin-right: 30%;
}

.delete-list:hover {
	color: black;
}


#current-watchlist {
	text-align: center;
	border: 1px solid white;
	/*padding: 20px;*/
}

#current-watchlist h2 {
	margin-top: 2em;
	padding: 10px 0;
	background: lightblue;
	color: white;
	border-radius: 10px;
}

#listOfCurrentWatchlist {
	background: lightblue;
	margin: 10px 0;
	border-radius: 10px;
}

#listOfCurrentWatchlist span {
	color: white;
}

.info {
	border: 1px solid white;
}

/*#watchlist-select {
	padding: 5px;
	margin: 10px;
}*/

/***********************
			Buttons/Links
***********************/

.delete-list {
	 background-color: red;
	 color: white;

}

#exit-button {
	padding: 2px;
	border-radius: 30%;
	font-size: 15px;
	color: lightblue;
	/*margin-top: 1px;*/
  width: 2em;
  position:relative;
  top: -9em;
  left: 30vw;
}

#exit-button:hover {
	background-color: red;
	color: white;
	cursor: pointer
}

.logo {
	border-radius:10px;
}

.web-link {
	color: grey;
}

.img-exit {

}

#pop-up-stock-search * {
	margin-bottom:1em;
}

.info {
	display:inline-block;
	border-radius:10px;
	padding:20px;
}

.sign-out-ban {
	display:flex;
	background: WhiteSmoke;
}

